.animated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.background-frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: fadeIn 0.1s ease-in-out;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(5, 5, 5, 0.7) 0%,
            rgba(5, 5, 5, 0.5) 50%,
            rgba(5, 5, 5, 0.8) 100%);
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}